/* VerticalCardSlider.module.css */

.verticalCardSlider {
    position: relative;
    overflow: hidden;
  }
  
  .verticalCardSliderContainer {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .verticalCardSliderItem {
    flex-shrink: 0;
  }
  
  .sliderButton {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
  }
  
  .sliderButtonLeft,
  .sliderButtonRight {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .sliderButtonLeft {
    left: 10px;
  }
  
  .sliderButtonRight {
    right: 10px;
  }
  